.btn_shadow_hire_me {
  margin-right: 20px;
  margin-top: 20px;
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.btn_shadow_hire_me {
  background: linear-gradient(145deg, #73c3f8, #ebe2e2);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow_hire_me:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}
.box_shodow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.btn_shadow_social {
  margin-right: 10px;
  padding: 15px 15px;
  border-radius: 50%;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.4s;
}
.btn_shadow_social a {
  font-size: 12px;

}
.btn_shadow_social {
  background: linear-gradient(145deg, #73c3f8, #ebe2e2);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow_social:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-5px);
}
.find_me {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 20px 0 20px 0;
}

/* .hero {
  position: relative;
} */
.hero h3 {
  font-weight: 100;
  letter-spacing: 1px;
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero h1 span {
  color: #ff014f;
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}
.hero h2 span {
  color: black;
}
.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.hero_btn {
  margin-top: 5%;
}
.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px 0;
}
.hero_btn button {
  margin-right: 30px;
}
.hero_btn i {
  font-size: 20px;
}

.hero_btn button img {
  width: 20px;
  height: 20px;
}
.hero .left {
  margin-right: 1%;
}
.hero .right {
  width: 30%;
  position: relative;
}
.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  height: 500px;
  width: 100%;
  margin-top: 30%;
}
.hero .right_img img {
  position: absolute;
  top: 0;
  left: 75;
  width: 100%;
  height: 600px;
}
@media (max-width: 1366px) {
  .hero .left {
    width: 70%;
  }
  .hero .right {
    width: 30%;
  }
  
}
@media (max-width: 768px) {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 20px;
  }

  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .right_img {
    width: 100%;
    height: 54vh;
  }
}
