
.cardImage {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}
.cardTitle {
  padding: 15px 0;
  font-weight: 700;
  font-size: 22px;
}
.gitHub:hover {
 color: red;
}
.liveDemo:hover {
  color: red;
}

.cardStyle:hover {
  background: linear-gradient(145deg, #727374, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  transform: translateY(-10px);
}

.btn_shadow2 {
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
  
}
.btn_shadow2 {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow2:hover {
  background: #057dee;
  color: white;
  transition: all 0.2s;
  transform: translateY(-10px);
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item.active {
  background: black;
  color: white;
}