.compunent {
    display: flex;
    justify-content: center;
    
  }
  .compunent .item {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(white, rgb(206, 197, 197));
  }
  .compunent .item:hover {
    background: tomato;
    color: white;
  }
  .item.active {
    background: black;
    color: white;
  }