.logo img{
  width: 200px;
  height: 70px;
}
.header {
  height: 10vh;
  line-height: 10vh;

}
.header a {
  color: black;
  margin-right: 15px;
  font-size: 18px;
}
.header a:hover {
  color: #ff014f;
}

.open {
  display: none;
}
.header.active {
  height: 17vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
